* {
  font-family: Verdana, Arial, sans-serif;}
body {
  background-color: rgb(255,204,204);}
h1 {
  background-color: rgb(204,51,0);
  color: rgb(255,255,255);
  text-align: center;
  font-weight: medium;
  font-family: haettenschweiler, impact, fantasy;}
p, .column2of2 {
  background-color: rgb(255, 204, 153);}
.column1of2 {
  float: left;
  width: 620px;
  margin: 10px:}
.column2of2 {
  float: left;
  width: 300px;
  margin: 10px;}
  

  
